<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field class="example-full-width">
        <mat-label>Código</mat-label>
        <input matInput placeholder="Código" formControlName="id" />
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Titulo</mat-label>
        <input matInput placeholder="ingrese el Titulo" formControlName="titulo" />
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Tema</mat-label>
        <mat-select placeholder="ingrese tema" formControlName="tema"></mat-select>
      </mat-form-field>
    
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Tipo Contenido</mat-label>
        <mat-select placeholder="ingrese tipo contenido" formControlName="contenido"></mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>URL</mat-label>
        <mat-select placeholder="ingrese URl" formControlName="url"></mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Tamano</mat-label>
        <mat-select placeholder="ingrese tamaño" formControlName="tamano"></mat-select>
      </mat-form-field>
      <br>
      <button mat-button color="primary">Aceptar</button>
      <button mat-button color="warn" routerLink="/pets">Cancelar</button>
      <br>
      <p>{{ mensaje }}</p>
    </form>
    
      </body>

      </html>
